# Ignore everything in the site directory except wp-content/
/*
!.gitignore
!readme.md
!htaccess-sample.txt
!wp-content/
!colors.json

!htaccess-sample.txt
 
# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
 
# Ignore everything in the "plugins" directory, except the plugins you specify
wp-content/plugins/*
!wp-content/plugins/base/
wp-content/plugins/base/node_modules/*
 
# Ignore everything in the "themes" directory, except the themes you specify
wp-content/themes/*
!wp-content/themes/base/
wp-content/themes/base/node_modules/*

# Ignore the DB backups directory
!db-backups/