//
// Column Block
// (Core WP Block)
// --------------------------------------------------
.wp-block-columns {
	margin-bottom: 0;
	padding: 0;
	&.is-style-container {
		max-width: $container-width;
		margin: 0 auto;
		padding: 0 2rem;
	}
	&.is-style-container-small {
		max-width: $container-width-small;
		margin: 0 auto;
		padding: 0 2rem;
	}
	&.is-style-justify-center {
		justify-content: center;
	}
}