//
// Gravity Forms Styling
// --------------------------------------------------
.gform_validation_container {
	display: none;
}

.gform_fields {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gfield {
	margin-bottom: 1.5rem;
	&.gfield--width-half {
		width: 48%;
	}
	&.gfield--width-full {
		width: 100%;
	}
}

.gfield_required {
	color: $red;
}

.gfield_label {
	display: block;
	font-size: .95rem;
}

ul.gfield_checkbox,
ul.gfield_radio {
	@include unstyled;
	li {
		margin: 0;
	}
}


// Form Errors
.gfield_error {
	input[type="text"],
	input[type="email"],
	input[type="search"],
	input[type="tel"],
	textarea {
		border-color: $red;
		background-color: rgba($red, .1);
	}
}

.ginput_container_select {
	background: url('data:image/svg+xml; utf8, <svg version="1.1" width="10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 30" style="enable-background:new 0 0 20 30;" xml:space="preserve"><polygon points="19.98,20 9.98,30 -0.02,20 "/><polygon points="-0.02,10 9.98,0 19.98,10 "/></svg>'), $light-gray;
	background-repeat: no-repeat;
	background-position: right 10px center;
}

.validation_message {
	color: $red;
	font-size: $small;
	font-style: oblique;
}

.validation_error {
	@extend .alert;
	@extend .alert-error;
}

// Form Success
.gform_confirmation_message {
	@extend .alert;
	@extend .alert-success;
}