//
// Gravity Forms Styling
// --------------------------------------------------
.gform_validation_container {
	display: none;
}

.gform_fields {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gfield {
	margin-bottom: 1.5rem;
	&.gfield--width-half {
		width: 48%;
	}
	&.gfield--width-full {
		width: 100%;
	}
}

.gfield_required {
	color: $red;
}

.gfield_label {
	display: block;
	font-size: .95rem;
}

ul.gfield_checkbox,
ul.gfield_radio {
	@include unstyled;
	li {
		margin: 0;
	}
}


// Form Errors
.gfield_error {
	input[type="text"],
	input[type="email"],
	input[type="search"],
	input[type="tel"],
	textarea {
		border-color: $red;
		background-color: rgba($red, .1);
	}
}

.validation_message {
	color: $red;
	font-size: $small;
	font-style: oblique;
}

.validation_error {
	@extend .alert;
	@extend .alert-error;
}

// Form Success
.gform_confirmation_message {
	@extend .alert;
	@extend .alert-success;
}