//
// Scaffolding
// --------------------------------------------------

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	height: 100%;
}

body {
	font-family: $base-font-family;
	background-color: $background;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $black;
	height: 100%;
	overflow-x: hidden;
	width: 100%;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
}

a {
	color: $link-color;
	transition: all 200ms ease;
	&:hover,
	&:focus {
		color: darken($link-color, 20%);
		transition: all 200ms ease;
	}
}

img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

.container {
	max-width: $container-width;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 2rem;
	clear: both;
	@include clearfix();
	&.small {
		max-width: $container-width-small;
	}
}

// Fixes margin issue in blocks
div[class^="wp-container"] > div + * {
	margin-block-start: 0;
}
div[class^="wp-container"]  > * + p {
	margin-block-end: 1rem;
	margin-block-start: 0;
	&.is-style-no-margin {
		margin-block-end: 0;
	}
}
body .is-layout-flow > * + p {
	margin-block-start: 0 !important;
}

// Selection Colors
::selection {
	background: $black;
	color: $white;
}
::-moz-selection {
	background: $black;
	color: $white;
}