//
// Scaffolding
// --------------------------------------------------

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	height: 100%;
}

body {
	font-family: $base-font-family;
	background-color: $background;
	font-size: 16px;
	line-height: 26px;
	color: $black;
	height: 100%;
	overflow-x: hidden;
	width: 100%;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
}


a {
	color: $blue;
	text-decoration: none;
	transition: all 200ms ease;
	&:hover,
	&:focus {
		color: darken($blue, 20%);
		text-decoration: none;
		transition: all 200ms ease;
	}
}


img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 20px;
	clear: both;
	@include clearfix();
}


// Selection Colors
::selection {
	background: $blue;
	color: #ffffff;
}
::-moz-selection {
	background: $blue;
	color: #ffffff;
}