//
// Primary Type Styles
// --------------------------------------------------
body .is-layout-flow > * + p,
body .is-layout-flow > p {
	margin-bottom: 2rem;
}
p {
	margin: 0 0 2rem 0;
	&.is-style-no-margin {
		margin: 0 !important;
	}
}

em {
	font-style: oblique;
}

strong {
	font-weight: $bold;
}

h1 {
	font-size: clamp(2.5rem, 4.5rem, 4.5vw);
	line-height: 1.1;
}

h2 {
	font-size: clamp(2.5rem, 2.5rem, 2.5vw);
	font-weight: $bold;
	line-height: 1.2;
}

h3 {
	font-size: 1.5rem;
	line-height: 1.2;
	font-weight: $bold;
}

h4 {
	font-size: .85rem;
	font-weight: $bold;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul, ol {
	list-style-type: disc;
	margin: 0 0 1.5rem 1rem;
	li {
		margin-bottom: 1rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

ol {
	list-style-type: decimal;
}

sup {
	font-size: .7em;
	position: relative;
	top: -.4em;
}

sub {
	font-size: .7em;
	position: relative;
	bottom: -.4em;
}