//
// Primary Type Styles
// --------------------------------------------------
p {
	margin: 0 0 2em 0;
}

em {
	font-style: oblique;
}

strong {
	font-weight: $bold;
}

h1 {
	font-size: 3em;
	font-weight: $bold;
	line-height: 1.1;
	margin-bottom: .5em;
}

h2 {
	font-size: 2em;
	font-weight: $bold;
	line-height: 1.2;
	margin-bottom: .2em;
}

h3 {
	font-size: 1.5em;
	line-height: 1.2;
	font-weight: $bold;
	margin-bottom: .3em;
}

h4 {
	text-transform: uppercase;
	font-size: .85em;
	font-weight: $bold;
	letter-spacing: .04em;
	margin-bottom: .5em;
	color: darken($white, 60%);
}

hr {
	border: 0;
	height: 4px;
	background-color: $hr;
	margin: 1.5em 0;
}

ul, ol {
	list-style-type: disc;
	margin: 0 0 1.5em 1em;
	li {
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

ol {
	list-style-type: decimal;
}

sup {
	font-size: .7em;
	position: relative;
	top: -.4em;
}

sub {
	font-size: .7em;
	position: relative;
	bottom: -.4em;
}

blockquote {
	padding: 1.5em 2em;
	font-size: 1.4em;
}
.wp-block-quote {
	border: 0;
}

