//
// Variables
// Colors defined in colors.json, file output as _colors.scss
// --------------------------------------------------

// Fonts
$base-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$base-font-size: 18px;
$base-line-height: 1.8;

// Font Weights
$bold: bold;

// Font Sizes
$small: 0.88em;
$smaller: 0.8em;
$large: 1.1em;
$larger: 1.25em;

$background: $white;
$link-color: $blue;
$hr: darken($white, 20%);
$border: darken($white, 25%);

// Borders
$gray-border: 1px solid $border;

// Paths
$font-path: 'assets/fonts';
$image-path: 'assets/images';

// Element Sizes
$container-width: 1200px;
$container-width-small: 850px;

// Breakpoints
$mobile: '(max-width: 767px)';
$desktop: '(min-width: 768px)';