//
// Styles necessary for correct display within the Gutenberg editor
// --------------------------------------------------
.edit-post-visual-editor.editor-styles-wrapper, 
.block-editor-writing-flow.block-editor-writing-flow {
	@import "_colors.scss";
	@import "_variables.scss";
	@import "_mixins.scss";
	@import "_reset.scss";
	@import "_scaffolding.scss";

	font-family: $base-font-family;
	background-color: $background;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $black;

	@import "_block-editor-blocks.scss";
	@import "_typography.scss";
	@import "_buttons.scss";
	@import "_alerts.scss";
	@import "_wp-formats";
	@import "_spacers.scss";
	@import "_tinymce.scss";
}

body.gutenberg-editor-page .editor-post-title__block, 
body.gutenberg-editor-page .editor-default-block-appender, 
body.gutenberg-editor-page .editor-block-list__block {
	max-width: none;
	margin: 0;
}
.block-editor-block-list__block {
	margin: 0;
}
.block-editor__container .wp-block {
	max-width: none;
	margin: 0;
}